.header {
  position: relative;
}

.header__container {
  min-width: 320px;
  padding: 0;
}

.header__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__burger {
  background: none;
  border: none;
  height: 25px;
  width: 25px;
  background-image: url(../img/index/menu.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 30px;
}

.header__logo {
  padding: 20px 0px 20px 0px;
  -webkit-box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
          box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.header__logo_desktop {
  display: none;
}

.header__logo_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__logo:active {
  opacity: 0.4;
}

.header__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__list_on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  position: relative;
  -webkit-box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
          box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  height: 80px;
}

.header__item a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #000;
  padding: 0px 0px 0px 80px;
}

.header__item p {
  margin: 0;
  padding: 0;
}

.header__item:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__item:active {
  opacity: 0.3;
}

.icon_search,
.icon_cart {
  display: block;
  background-image: url(../img/index/search.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-size: 100%;
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
  opacity: 0.3;
}

.icon_cart {
  background-image: url(../img/index/cart.svg);
  width: 24px;
  height: 28px;
  top: 25px;
  left: 38px;
}

@media (min-width: 768px) {
  .header {
    height: 83px;
    position: relative;
  }
  .header__container {
    min-width: 668px;
    padding: 0 50px;
  }
  .header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__burger {
    display: none;
  }
  .header__logo {
    padding: 22px 0px 22px 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: auto;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    height: 80px;
  }
  .header__item {
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .icon_search {
    left: 32px;
    top: 38px;
  }
  .icon_cart {
    width: 21px;
    height: 19px;
    background-size: contain;
    left: 35px;
    top: 22px;
  }
  .item_tablet {
    display: none;
  }
  .item_search {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    height: 88px;
  }
  .item_search:hover .icon_search {
    background-image: url(../img/index/search_hover.svg);
    opacity: 1;
  }
  .item_search:hover {
    opacity: 1;
  }
  .item_search:active .icon_search {
    opacity: 0.4;
  }
  .item_search:active {
    opacity: 1;
  }
  .item_cart {
    height: 62px;
  }
  .item_cart:hover .icon_cart {
    background-image: url(../img/index/cart_hover.svg);
    opacity: 1;
  }
  .item_cart:hover {
    opacity: 0.6;
  }
  .item_cart:active {
    opacity: 0.3;
  }
  .search_text {
    display: none;
  }
}

@media (min-width: 1250px) {
  .header {
    height: 88px;
  }
  .header__container {
    width: 1050px;
    padding: 0 100px;
  }
  .header__logo {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .header__logo_mobile {
    display: none;
  }
  .header__logo_desktop {
    margin: 0 86px;
    padding: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo_desktop img {
    width: 149px;
    height: 72px;
  }
  .header__list {
    margin-left: 0;
    height: 88px;
  }
  .header__item p {
    padding: 0px 0px 0px 0px;
  }
  .header__item a {
    padding: 0px 0px 0px 0px;
  }
  .header__item:nth-child(2) {
    padding: 0px 0px 0px 35px;
  }
  .item_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 25px 0px 0px;
  }
  .item_cart {
    margin: 0px 0px 0px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item_search {
    display: block;
    width: 81px;
  }
  .item_cart {
    height: auto;
  }
  .icon_cart {
    left: -50px;
    top: 3px;
  }
  .icon_search {
    top: 35px;
    left: 29px;
  }
}
