body {
  min-width: 320px;
  color: #000000;
  font-family: "Oswald";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  min-width: 280px;
  padding: 0px 20px 0px 20px;
}

@media (min-width: 768px) {
  .container {
    min-width: 668px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
  }
}

@media (min-width: 1300px) {
  .container {
    min-width: auto;
    width: 1220px;
    padding: 0px 40px 0px 40px;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
}

@media (min-width: 768px) {
  .title {
    font-size: 60px;
  }
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
  font: inherit;
  min-width: 280px;
  height: 40px;
  background-color: #68b738;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header__container {
  padding: 0px 0px 0px 0px;
}

.header__block {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e6e6e6ed;
  padding: 0px 20px 0px 20px;
  position: relative;
}

.header__burger {
  background: none;
  border: none;
  background-image: url(../img/index/menu.svg);
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  right: 20px;
}

.header__logo {
  width: 101px;
  height: 18px;
}

.header__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  border-bottom: 1px solid #e6e6e6ed;
}

.header__item a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.header__screen {
  min-height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.screen__block {
  background-image: url(../img/index/background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 305px;
  position: relative;
}

.screen__block:after {
  display: block;
  content: "";
  background-image: url(../img/index/index-can_mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 270px;
  position: absolute;
  top: 57%;
  left: 0;
}

.screen__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  padding: 30px 20px 20px 20px;
}

.screen__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0px 20px 0px 20px;
}

.screen__button {
  text-decoration: none;
  margin: 140px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen__button_tablet {
  display: none;
}

@media (min-width: 768px) {
  .header {
    margin-top: 25px;
  }
  .header__container {
    min-width: 708px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
  }
  .header__burger {
    display: none;
  }
  .header__nav {
    min-height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo {
    display: none;
  }
  .header__block {
    height: auto;
    border-bottom: none;
    padding: 0;
    width: 27.2%;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 72.8%;
  }
  .header__item {
    height: auto;
    border-bottom: none;
    margin-left: 30px;
  }
  .header__item:first-child {
    padding: 0px 0px 0px 0px;
  }
  .header__item a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.86px;
    color: #222222;
  }
  .header__item a:hover {
    opacity: 0.6;
  }
  .header__item a:active {
    opacity: 0.3;
  }
  .header__item_active {
    position: relative;
  }
  .header__item_active:after {
    display: block;
    content: "";
    height: 2px;
    width: 97%;
    background-color: #68b738;
    position: absolute;
    bottom: 10px;
  }
  .header__screen {
    min-height: 806px;
  }
  .screen__block {
    z-index: 2;
    text-align: left;
    background: none;
  }
  .screen__block:after {
    display: none;
  }
  .screen__background {
    background: none;
    text-align: left;
    background-image: url(../img/index/index-can_tablet.jpg);
    background-repeat: no-repeat;
    background-position: 12px 75px;
    width: 709px;
    height: 689px;
    position: relative;
    margin-top: -150px;
  }
  .screen__background:after {
    display: none;
  }
  .screen__title {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    padding: 55px 0px 30px 90px;
  }
  .screen__description {
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    padding: 0px 0px 0px 93px;
  }
  .screen__button {
    min-width: auto;
    width: 245px;
    font-size: 20px;
    height: 52px;
    margin: 45px 0px 0px 90px;
  }
  .screen__button_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .screen__button_mobile {
    display: none;
  }
}

@media (min-width: 1300px) {
  .header {
    margin-top: 0;
    margin-bottom: 80px;
    position: relative;
  }
  .header:before {
    display: block;
    content: "";
    width: 50%;
    height: 696px;
    background-color: #65a93c;
    background-image: url(../img/index/background-desktop.jpg);
    background-repeat: no-repeat;
    background-position: right 0px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  .header__container {
    width: 1220px;
    padding: 0px 40px 0px 40px;
  }
  .header__nav {
    padding-top: 50px;
  }
  .header__block {
    width: 50%;
  }
  .header__list {
    width: 50%;
  }
  .header__item a {
    color: #ffffff;
    font-size: 20px;
  }
  .header__item_active {
    position: relative;
  }
  .header__item_active:after {
    background-color: #fff;
  }
  .header__screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 586px;
  }
  .header__img:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .header__img:active {
    opacity: 0.6;
  }
  .screen__background {
    background: none;
    width: auto;
    height: auto;
    margin-top: 0;
  }
  .screen__background:before {
    display: block;
    content: "";
    background-image: url(../img/index/index-can.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    right: 155px;
    top: 20px;
    width: 552px;
    height: 499px;
  }
  .screen__block {
    width: 50%;
  }
  .screen__title {
    padding-top: 105px;
  }
}

.categories {
  margin-bottom: 30px;
}

.categories__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.categories__item {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.categories__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__image {
  width: 50px;
  height: 51px;
  border-radius: 50%;
  background-color: #68b738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 20px 20px 20px;
  position: relative;
}

.categories__image_tablet {
  display: none;
}

.categories__image_mobile {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.categories__image img {
  position: absolute;
}

.categories__icon_cat {
  bottom: 5px;
  left: 7px;
  width: 35px;
  height: 49px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.categories__icon_tigr {
  bottom: 10px;
  width: 67px;
  height: 28px;
}

.categories__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  text-transform: uppercase;
  color: #111111;
}

.categories__description {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 35px 40px 20px;
}

.categories__button {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: #111111;
  position: relative;
  padding: 0px 0px 20px 20px;
}

.categories__button:after {
  display: block;
  content: "";
  background-image: url(../img/index/right_arrow.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  width: 24px;
  height: 11px;
  position: absolute;
  top: 6px;
  left: 120px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.categories__button:before {
  display: block;
  content: "";
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  width: 90%;
  height: 1px;
  position: absolute;
  margin: 0 20px;
  top: -20px;
  left: 0;
}

@media (min-width: 768px) {
  .categories {
    margin-bottom: 50px;
  }
  .categories__item {
    min-height: 372px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .categories__image {
    background: none;
    width: 36%;
    margin: 0px 0px 0px 0px;
  }
  .categories__image:after {
    display: block;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #68b738;
    margin: 90px 0px 0px 0px;
    position: relative;
  }
  .categories__image_tablet {
    display: block;
  }
  .categories__image_mobile {
    display: none;
  }
  .categories__icon_cat {
    z-index: 1;
    top: 70px;
    left: 20px;
    width: 140px;
    height: 194px;
  }
  .categories__icon_tigr {
    z-index: 1;
    top: 135px;
    left: -40px;
    width: 268px;
    height: 112px;
  }
  .categories__text {
    width: 64%;
  }
  .categories__title {
    font-size: 36px;
    padding: 75px 0px 25px 50px;
  }
  .categories__description {
    font-size: 16px;
    line-height: 24px;
    padding: 0px 20px 60px 50px;
  }
  .categories__button {
    font-size: 20px;
    line-height: 20px;
    padding: 0px 0px 0px 50px;
  }
  .categories__button:after {
    left: 170px;
  }
  .categories__button:before {
    display: none;
  }
}

@media (min-width: 1300px) {
  .categories {
    margin-bottom: 80px;
  }
  .categories__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .categories__item {
    min-width: 570px;
    margin: 0px 80px 0px 0px;
    display: block;
  }
  .categories__item:last-child {
    margin: 0px 0px 0px 0px;
  }
  .categories__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .categories__image {
    background: none;
    width: auto;
    margin: 0px 0px 0px 0px;
  }
  .categories__image:after {
    width: 100px;
    height: 100px;
    margin: 20px 0px 0px 50px;
  }
  .categories__image_tablet {
    display: none;
  }
  .categories__image_mobile {
    display: block;
  }
  .categories__icon_cat {
    width: 70px;
    height: 97px;
    top: 15px;
    left: 65px;
  }
  .categories__icon_tigr {
    top: 45px;
    left: 35px;
    width: 134px;
    height: 56px;
  }
  .categories__text {
    width: 100%;
  }
  .categories__title {
    padding: 90px 0px 0px 50px;
  }
  .categories__description {
    padding: 60px 80px 40px 50px;
  }
  .categories__button {
    padding: 0px 0px 0px 50px;
  }
  .categories__button:hover:after {
    background-size: 100%;
    top: 5px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .categories__button:active {
    opacity: 0.3;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

.advantages__title {
  padding: 0px 0px 35px 0px;
}

.advantages__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.advantages__item:last-child {
  margin-bottom: 40px;
}

.advantages__logo {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__logo:after {
  display: block;
  content: "";
  background-repeat: no-repeat;
}

.advantages__logo_one:after {
  width: 26px;
  height: 29px;
  background-image: url(../img/index/advantage_1.png);
}

.advantages__logo_two:after {
  width: 29px;
  height: 31px;
  background-image: url(../img/index/andvantage_2.png);
}

.advantages__logo_three:after {
  width: 23px;
  height: 30px;
  background-image: url(../img/index/andvantage_3.png);
}

.advantages__logo_four:after {
  width: 26px;
  height: 31px;
  background-image: url(../img/index/andvantage_4.png);
}

.advantages__description {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  width: 81%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 0px 0px 20px;
}

.advantages__number {
  display: none;
}

@media (min-width: 768px) {
  .advantages:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    opacity: 0.7;
  }
  .advantages__title {
    padding: 0px 0px 60px 0px;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 45%;
    min-height: 228px;
    margin-bottom: 80px;
    position: relative;
  }
  .advantages__item:after {
    display: block;
    content: "1";
    font-size: 281px;
    font-weight: 400;
    line-height: 281.07px;
    color: #f2f2f2;
    position: absolute;
    top: -40px;
    right: 90px;
    z-index: -1;
  }
  .advantages__item_two:after {
    content: "2";
    right: 70px;
  }
  .advantages__item_three:after {
    content: "3";
    right: 70px;
  }
  .advantages__item_four:after {
    content: "4";
    right: 70px;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }
  .advantages__item:nth-last-child(-n + 2) {
    margin-bottom: 55px;
  }
  .advantages__logo {
    width: 80px;
    height: 80px;
    margin: 0px 0px 0px 0px;
  }
  .advantages__description {
    font-size: 16px;
    line-height: 24px;
    padding: 35px 0px 0px 0px;
  }
}

@media (min-width: 1300px) {
  .advantages:after {
    display: none;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantages__item {
    width: 245px;
    margin-bottom: 85px;
    margin-right: 80px;
  }
  .advantages__item:nth-child(2n) {
    margin-right: 80px;
  }
  .advantages__item:last-child {
    margin-right: 0;
  }
  .advantages__item_one:after {
    content: "1";
    right: 20px;
  }
  .advantages__item_two:after {
    content: "2";
    right: 0px;
  }
  .advantages__item_three:after {
    content: "3";
    right: 0px;
  }
  .advantages__item_four:after {
    content: "4";
    right: 10px;
  }
}

.example {
  background-color: #f2f2f2;
}

.example__title {
  padding: 30px 0px 25px 0px;
}

.example__description {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  padding-right: 10px;
  padding-bottom: 25px;
}

.example__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.example__block_weight, .example__block_time {
  min-width: 38.7%;
  min-height: 56px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}

.example__block_weight {
  margin-right: 30px;
}

.example__money {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
}

.example__money br {
  display: none;
}

.block__title {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
}

.block__text {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  bottom: -15px;
  width: 80px;
  background-color: #f2f2f2;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  border-bottom: 1px dashed #d4d4d4;
  padding-bottom: 5px;
}

.slider label:hover {
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
}

.slider label:active {
  border-bottom: none;
  position: relative;
  bottom: 1px;
}

.slider input {
  display: none;
}

.slider__range {
  min-width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  position: relative;
  margin: 35px 15px;
}

.slider__button {
  border: none;
  background: none;
  outline: none;
  min-width: 35px;
  height: 8px;
  border-radius: 3px;
  background-color: #68b738;
  position: absolute;
  top: 3px;
  left: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.slider__button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.slider__button:active {
  border: 2px solid #68b738;
}

.slider__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__image img {
  width: 280px;
}

.slider__image_after {
  display: none;
}

@media (min-width: 768px) {
  .example {
    background-color: #fff;
  }
  .example__title {
    padding: 45px 0px 55px 0px;
  }
  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding-right: 30px;
    padding-bottom: 50px;
  }
  .example__wrapper_data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .example__block_weight, .example__block_time {
    min-width: 162px;
    min-height: 72px;
    margin-bottom: 85px;
  }
  .example__block_weight {
    margin-right: 40px;
  }
  .example__block_weight .block__text {
    width: 115px;
  }
  .example__money {
    font-size: 20px;
    margin-left: auto;
    margin-top: 10px;
    text-align: right;
    line-height: 30px;
  }
  .example__money br {
    display: block;
  }
  .example__block_slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #eaeaea));
    background: -webkit-linear-gradient(left, #f2f2f2 50%, #eaeaea 50%);
    background: -o-linear-gradient(left, #f2f2f2 50%, #eaeaea 50%);
    background: linear-gradient(90deg, #f2f2f2 50%, #eaeaea 50%);
    margin: 0 -30px;
    position: relative;
    height: 460px;
    margin-top: 170px;
  }
  .block__title {
    font-size: 30px;
  }
  .block__text {
    background-color: #fff;
    font-size: 14px;
    line-height: 14px;
    bottom: -6px;
    width: 135px;
  }
  .block__text br {
    display: none;
  }
  .slider {
    position: absolute;
    bottom: 0;
    padding: 25px 0 40px 0;
  }
  .slider label {
    font-size: 20px;
    line-height: 20px;
  }
  .slider__range {
    min-width: 428px;
    height: 6px;
    border-radius: 3px;
    background-color: #dcdcdc;
  }
  .slider__button {
    width: 34px;
    height: 34px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: -15px;
    left: calc(50% - 14px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider__button:after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b738;
  }
  .slider__button:before {
    content: "";
    background-color: red;
  }
  .slider__image {
    width: 677px;
    position: absolute;
    top: -170px;
  }
  .slider__image_before {
    display: block;
    width: 50%;
    z-index: 2;
    overflow: hidden;
    position: relative;
    right: 0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #fff), color-stop(33%, #f2f2f2));
    background: -webkit-linear-gradient(top, #fff 33%, #f2f2f2 33%);
    background: -o-linear-gradient(top, #fff 33%, #f2f2f2 33%);
    background: linear-gradient(180deg, #fff 33%, #f2f2f2 33%);
  }
  .slider__image_after {
    display: block;
    position: relative;
    right: 250px;
    width: 50%;
    bottom: 19px;
  }
  .slider__image img {
    width: auto;
  }
}

@media (min-width: 1300px) {
  .example {
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, white), color-stop(20%, #f2f2f2));
    background: -webkit-linear-gradient(top, white 20%, #f2f2f2 20%);
    background: -o-linear-gradient(top, white 20%, #f2f2f2 20%);
    background: linear-gradient(180deg, white 20%, #f2f2f2 20%);
    position: relative;
    z-index: 1;
  }
  .example__title {
    padding: 0 0px 130px 0px;
  }
  .example__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .example__description {
    width: 430px;
    line-height: 28px;
    padding-right: 0;
    padding-bottom: 70px;
  }
  .example__wrapper_data {
    display: block;
  }
  .example__block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .example__block_description {
    width: 50%;
  }
  .example__block_weight, .example__block_time {
    margin-bottom: 0;
  }
  .example__money {
    font-size: 19px;
    text-align: left;
    padding-top: 45px;
  }
  .example__money br {
    display: none;
  }
  .example__money span {
    margin-left: 55px;
  }
  .example__block_slider {
    width: 610px;
    background: none;
    margin: 0 0;
    margin-top: -40px;
    height: 610px;
  }
  .block__text {
    background-color: #f2f2f2;
  }
  .slider {
    padding: 0px 0 13px 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #eaeaea));
    background: -webkit-linear-gradient(left, #f2f2f2 50%, #eaeaea 50%);
    background: -o-linear-gradient(left, #f2f2f2 50%, #eaeaea 50%);
    background: linear-gradient(90deg, #f2f2f2 50%, #eaeaea 50%);
  }
  .slider__image {
    width: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
  }
  .slider__image_before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(29.6%, #fff), color-stop(29.6%, #f2f2f2));
    background: -webkit-linear-gradient(top, #fff 29.6%, #f2f2f2 29.6%);
    background: -o-linear-gradient(top, #fff 29.6%, #f2f2f2 29.6%);
    background: linear-gradient(180deg, #fff 29.6%, #f2f2f2 29.6%);
  }
  .slider__image_before picture {
    position: absolute;
    left: -40px;
  }
  .slider__image_after {
    position: relative;
  }
  .slider__image_after:before {
    display: block;
    content: "";
    width: 100vw;
    height: 121%;
    position: absolute;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(27.5%, white), color-stop(27.5%, #eaeaea));
    background: -webkit-linear-gradient(top, white 27.5%, #eaeaea 27.5%);
    background: -o-linear-gradient(top, white 27.5%, #eaeaea 27.5%);
    background: linear-gradient(180deg, white 27.5%, #eaeaea 27.5%);
    z-index: -1;
  }
}

.contacts__catalog {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  padding: 30px 0px 25px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__text {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

.contacts__map img {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 65px 0px 55px 0px;
  }
  .contacts__text {
    font-size: 20px;
    line-height: 25px;
    padding-left: 40px;
  }
  .contacts__address {
    font-family: "Arial";
    font-size: 16px;
    padding-right: 40px;
  }
  .contacts__address span {
    display: block;
    padding-top: 15px;
  }
  .contacts__map img {
    width: 100%;
    max-width: 100%;
    margin-bottom: -3px;
  }
}

@media (min-width: 1300px) {
  .contacts__catalog {
    background-color: #fff;
  }
  .contacts__container {
    position: relative;
  }
  .contacts__wrapper {
    padding: 0px 0px 0px 0px;
    margin-left: 40px;
    width: 570px;
    height: 201px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    left: 0;
  }
  .contacts__text {
    padding-left: 75px;
  }
  .contacts__address {
    padding-right: 90px;
  }
  .contacts__map img {
    width: 100%;
    max-width: 100%;
  }
}

.footer {
  background-color: #f2f2f2;
}

.footer__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 150px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
  border-bottom: 1px solid #dadada;
}

.footer__logo svg {
  width: 142px;
  height: 24px;
}

.footer__logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer__logo:active {
  opacity: 0.6;
}

.footer__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dadada;
  height: 60px;
}

.footer__item {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-right: 35px;
}

.footer__item:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__item svg {
  fill: #666666;
}

.footer__item:hover svg {
  fill: #68b738;
}

.footer__item:active svg {
  fill: #68b738;
  opacity: 0.3;
}

.footer__developed {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__developed svg {
  fill: #666666;
}

.footer__developed:hover,
.footer__developed:hover svg {
  cursor: pointer;
  fill: #68b738;
}

.footer__developed:active {
  opacity: 0.3;
}

.footer__text {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-size: 16px;
}

@media (min-width: 768px) {
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    height: auto;
    border-bottom: none;
  }
  .footer__list {
    border-bottom: none;
  }
  .footer__item {
    height: auto;
  }
  .footer__item:last-child {
    margin: 0px 0px 0px 0px;
  }
  .footer__developed {
    height: auto;
  }
  .footer__text {
    padding-right: 20px;
  }
}

.catalog__container {
  padding: 0px 0px 0px 0px;
}

.catalog__title {
  padding: 25px 20px 30px 20px;
}

.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 210px;
  border-top: 1px solid #f1f1f1;
  padding: 0 20px;
}

.catalog__item_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.catalog__image {
  width: 50%;
}

.catalog__image_more {
  width: 30px;
  height: 30px;
  margin: 25px 0;
  opacity: 0.2;
}

.catalog__block {
  width: 50%;
}

.catalog__block_button {
  width: 100%;
}

.catalog__name {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  padding: 15px 65px 0px 0px;
}

.catalog__name_more {
  padding: 0px 0px 0px 0px;
}

.catalog__name br {
  display: none;
}

.catalog__parameters {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding: 15px 0px 0px 0px;
}

.catalog__type {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  color: #444444;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__type:last-child {
  padding-bottom: 0;
}

.catalog__button {
  margin: 0px 0px 25px 0px;
  width: 100%;
  font-size: 16px;
}

.catalog__button_grey {
  background-color: #f2f2f2;
  color: #444444;
  margin: 20px 0px 25px 0px;
}

.catalog__description {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-family: "Arial";
  font-size: 12px;
}

.catalog__description br {
  display: none;
}

@media (min-width: 768px) {
  .catalog__title {
    padding: 60px 30px 70px 30px;
  }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 510px;
    width: calc(50% - 61px);
    border-top: none;
    padding: 0px 0px 0px 0px;
    margin: 0 30px;
    margin-bottom: 55px;
    background-color: #f2f2f2;
  }
  .catalog__item:last-child {
    margin-bottom: 0;
  }
  .catalog__item_more {
    background-color: #fff;
    border: 1px solid #cdcdcd;
    height: 430px;
    margin-top: 80px;
  }
  .catalog__image {
    width: 100%;
    height: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, white), color-stop(40%, #f2f2f2));
    background: -webkit-linear-gradient(top, white 40%, #f2f2f2 40%);
    background: -o-linear-gradient(top, white 40%, #f2f2f2 40%);
    background: linear-gradient(180deg, white 40%, #f2f2f2 40%);
  }
  .catalog__image img {
    height: auto;
  }
  .catalog__image_more {
    width: 60px;
    height: 60px;
    margin: 55px 0 50px 0;
    background: none;
  }
  .catalog__block {
    width: 100%;
  }
  .catalog__name {
    font-size: 20px;
    padding: 35px 0px 0px 0px;
    text-align: center;
  }
  .catalog__name br {
    display: block;
  }
  .catalog__name_more {
    padding: 0px 0px 0px 0px;
  }
  .catalog__parameters {
    padding: 25px 35px 0px 35px;
  }
  .catalog__type {
    font-size: 16px;
    padding: 5px 0;
    border-bottom: 1px solid #cdcdcd;
  }
  .catalog__type:last-child {
    padding: 5px 0;
  }
  .catalog__button {
    margin: 40px 35px 40px 35px;
    min-width: auto;
    width: auto;
  }
  .catalog__button_grey {
    margin: 85px 35px 0px 35px;
  }
  .catalog__button_grey:hover {
    background-color: #ebebeb;
  }
  .catalog__button_grey:active {
    color: rgba(68, 68, 68, 0.3);
  }
  .catalog__description {
    padding: 25px 0px 0px 0px;
    text-align: center;
    font-size: 16px;
  }
  .catalog__description br {
    display: block;
  }
}

@media (min-width: 1300px) {
  .header__catalog {
    margin: 0px 0px 0px 0px;
  }
  .header__catalog:before {
    display: none;
  }
  .header__catalog .header__item a {
    color: #111111;
  }
  .header__catalog .header__item:after {
    background-color: #68b738;
  }
  .catalog__title {
    padding: 75px 0px 70px 0px;
  }
  .catalog__item {
    width: 245px;
    margin: 0 40px;
    margin-bottom: 60px;
  }
  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }
  .catalog__item:nth-child(5n) {
    margin-left: 0;
  }
  .catalog__item:first-child {
    margin-left: 0;
  }
  .catalog__item_more {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 80px;
    width: 245px;
  }
}

.extra {
  overflow: hidden;
}

.extra__title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  padding: 25px 20px 20px 20px;
  position: relative;
  background-color: #fff;
  font-weight: 400;
  padding-right: 25px;
}

.extra__title:after {
  display: block;
  content: "";
  height: 3px;
  width: 100vw;
  background-color: #68b738;
  position: absolute;
  top: 35px;
  left: 0px;
  z-index: -1;
}

.extra__list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.extra__item {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #cdcdcd;
}

.extra__item:first-child {
  border-top: 1px solid #cdcdcd;
}

.extra__name {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  padding: 10px 0px 15px 0px;
  width: 100%;
}

.extra__sort {
  margin: 0;
  padding: 0;
  font-family: "Arial MT";
  width: 50%;
}

.extra__price {
  margin: 0;
  padding: 0;
  font-family: "Arial MT";
  width: 50%;
  text-align: right;
}

.extra__block_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.extra__block_button {
  margin: 15px 0px 15px 0px;
}

.extra__gift {
  background-image: url(../img/catalog/gift-photo-mobile.jpg);
  background-color: #68ac3f;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 289px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 35px;
}

.extra__gift::before {
  display: block;
  content: "";
  background-image: url(../img/catalog/gift.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 55px;
  height: 60px;
  position: relative;
  top: 65px;
  margin: 0 auto;
}

.extra__text {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Arial MT";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 125px;
}

@media (min-width: 768px) {
  .extra__title {
    font-size: 36px;
    line-height: 36px;
    padding: 10px 30px 70px 39px;
    margin-left: 31px;
  }
  .extra__title::before {
    display: block;
    content: "";
    height: 3px;
    width: 100vw;
    background-color: #68b738;
    position: absolute;
    top: 32px;
    right: 0px;
    z-index: -1;
  }
  .extra__title:after {
    top: 32px;
  }
  .extra__item {
    border: 1px solid #cdcdcd;
    border-bottom: none;
    padding: 20px 40px;
  }
  .extra__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
  .extra__name {
    font-size: 20px;
    line-height: 20px;
    padding: 5px 0px 0px 0px;
    width: 65%;
  }
  .extra__sort {
    width: auto;
    font-size: 16px;
    line-height: 20px;
    width: 20%;
    text-align: right;
  }
  .extra__price {
    width: auto;
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
  }
  .extra__block_description {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .extra__block_button {
    margin: 20px 0px 10px 0px;
  }
  .extra__gift {
    background-image: url(../img/catalog/gift-photo-tablet.jpg);
    height: 200px;
    margin-top: 70px;
    margin-bottom: 75px;
  }
  .extra__gift::before {
    top: 65px;
    left: 90px;
    margin: 0 0;
  }
  .extra__text {
    padding: 0px 0px 0px 0px;
    text-align: left;
    position: relative;
    left: 150px;
    width: 59%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1300px) {
  .extra {
    margin: 0 auto;
    margin-bottom: 85px;
  }
  .extra__container {
    padding: 0px 0px 0px 0px;
  }
  .extra__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .extra__title {
    padding: 10px 0px 70px 0px;
    margin-left: 0;
  }
  .extra__title:before {
    right: 370px;
  }
  .extra__title:after {
    left: 370px;
  }
  .extra__list {
    width: 75%;
  }
  .extra__item {
    border: none;
    border-top: 1px solid #cdcdcd;
    padding: 15.5px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .extra__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
  .extra__name {
    padding: 0px 0px 0px 0px;
    width: 50%;
  }
  .extra__sort {
    width: 40%;
    text-align: left;
  }
  .extra__price {
    margin-left: 0;
  }
  .extra__block_description {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 68%;
    margin-bottom: 5px;
  }
  .extra__block_button {
    margin: 0px 0px 0px 0px;
  }
  .extra__gift {
    background-image: url(../img/catalog/gift-photo-desktop.jpg);
    height: 289px;
    width: 20.5%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
  }
  .extra__gift::before {
    left: 90px;
  }
  .extra__text {
    text-align: center;
    left: 0px;
    top: 125px;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .extra__button {
    min-width: 245px;
  }
}

.form {
  overflow: hidden;
}

.form__wrapper_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.form__wrapper_input:last-child {
  margin-bottom: 20px;
}

.form__wrapper_input label {
  padding-right: 15px;
}

.form__wrapper_radio {
  margin-bottom: 15px;
}

.form__wrapper_radio:first-child {
  margin-top: 20px;
}

.form__wrapper_radio:last-child {
  margin-bottom: 20px;
}

.form__wrapper_checkbox {
  margin-bottom: 12px;
}

.form__wrapper_checkbox:last-child {
  margin-bottom: 35px;
}

.form__wrapper_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__block {
  border-bottom: 1px solid rgba(205, 205, 205, 0.5);
}

.form__block_textarea {
  border: none;
}

.form__block_input-two {
  border: none;
}

.form__block_checkbox {
  border: none;
}

.form__block_phone:focus-within svg, .form__block_mail:focus-within svg {
  fill: #68b738;
}

.form__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  padding: 25px 0px 30px 0px;
}

.form__subtitle {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding: 30px 20px 30px 0px;
  position: relative;
  background-color: #fff;
}

.form__subtitle:after {
  display: block;
  content: "";
  height: 3px;
  width: 100vw;
  background-color: #68b738;
  position: absolute;
  top: 44px;
  left: 0px;
  z-index: -1;
}

.form__description {
  margin: 0;
  padding: 0;
  color: #111111;
  text-transform: uppercase;
  padding: 0px 0px 35px 0px;
}

.form label {
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background: none;
  font: inherit;
  width: 100%;
  height: 45px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
}

.form__input:hover {
  border: 1px solid #cdcdcd;
}

.form__input:active {
  border: 2px solid #444444;
}

.form__input::-webkit-input-placeholder {
  color: #444444;
}

.form__input:-ms-input-placeholder {
  color: #444444;
}

.form__input::-ms-input-placeholder {
  color: #444444;
}

.form__input::placeholder {
  color: #444444;
}

.form__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 150px;
  border: none;
  background: none;
  font: inherit;
  width: 100%;
  border: 1px solid rgba(205, 205, 205, 0.5);
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 15px 10px 15px;
  resize: none;
}

.form__textarea:hover {
  border: 1px solid #cdcdcd;
}

.form__textarea:active {
  border: 2px solid #444444;
}

.form__textarea::-webkit-input-placeholder {
  color: #444444;
}

.form__textarea:-ms-input-placeholder {
  color: #444444;
}

.form__textarea::-ms-input-placeholder {
  color: #444444;
}

.form__textarea::placeholder {
  color: #444444;
}

.form__radio {
  display: none;
}

.form__radio_custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__radio_custom span {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 15px;
}

.form__radio + .form__radio_custom span {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.form__radio:hover + .form__radio_custom span {
  border: 1px solid #bababa;
  cursor: pointer;
}

.form__radio + .form__radio_custom:hover {
  cursor: pointer;
}

.form__radio:active + .form__radio_custom span {
  border: 1px solid rgba(186, 186, 186, 0.5);
}

.form__radio:checked + .form__radio_custom span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__radio:checked + .form__radio_custom span:after {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}

.form__radio:checked:active + .form__radio_custom span::after {
  opacity: 0.3;
}

.form__checkbox {
  display: none;
}

.form__checkbox_custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__checkbox_custom span {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-right: 15px;
}

.form__checkbox + .form__checkbox_custom span {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.form__checkbox:hover + .form__checkbox_custom span {
  border: 1px solid #bababa;
  cursor: pointer;
}

.form__checkbox + .form__checkbox_custom:hover {
  cursor: pointer;
}

.form__checkbox:active + .form__checkbox_custom span {
  border: 1px solid rgba(186, 186, 186, 0.5);
}

.form__checkbox:checked:active + .form__checkbox_custom span::after {
  opacity: 0.3;
}

.form__checkbox:checked + .form__checkbox_custom span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__checkbox:checked + .form__checkbox_custom span:after {
  display: block;
  content: "";
  background-image: url(../img/catalog/tick.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 21px;
  height: 16px;
}

.form__button {
  font-size: 16px;
}

.form__text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Arial MT";
  padding: 20px 0px 30px 0px;
}

@media (min-width: 768px) {
  .form__container {
    padding-left: 70px;
    padding-right: 70px;
    min-width: 629px;
  }
  .form__wrapper_input {
    margin-bottom: 20px;
  }
  .form__wrapper_input:last-child {
    margin-bottom: 70px;
  }
  .form__wrapper_radio {
    margin-bottom: 15px;
  }
  .form__wrapper_radio:first-child {
    margin-top: 20px;
  }
  .form__wrapper_radio:last-child {
    margin-bottom: 20px;
  }
  .form__wrapper_checkbox {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 30px;
    width: 50%;
  }
  .form__wrapper_checkbox:last-child {
    margin-bottom: 0px;
  }
  .form__wrapper_checkbox:nth-child(2n) {
    padding-left: 30px;
  }
  .form__wrapper_button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 70px;
  }
  .form__block {
    border: none;
  }
  .form__block_radio {
    border: 1px solid rgba(205, 205, 205, 0.5);
    padding-left: 25px;
    margin-bottom: 75px;
  }
  .form__block_input-two {
    margin: 65px 0px 65px 0px;
  }
  .form__block_textarea {
    margin: 65px 0px 65px 0px;
  }
  .form__block_checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px 0px 50px 0px;
  }
  .form__block_button {
    width: 50%;
  }
  .form__block_mail, .form__block_phone {
    position: relative;
    width: 100%;
  }
  .form__block_mail svg, .form__block_phone svg {
    width: 17px;
    height: 13px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #222222;
  }
  .form__block_phone svg {
    width: 20px;
    height: 20px;
    top: 17px;
    right: 17px;
  }
  .form__title {
    font-size: 60px;
    line-height: 60px;
    padding: 60px 0px 50px 0px;
    margin-left: -40px;
  }
  .form__subtitle {
    font-size: 36px;
    line-height: 36px;
    padding: 0px 40px 0px 0px;
  }
  .form__subtitle br {
    display: none;
  }
  .form__subtitle:after {
    display: block;
    content: "";
    height: 3px;
    width: 100vw;
    background-color: #68b738;
    position: absolute;
    top: 19px;
    left: 0px;
    z-index: -1;
  }
  .form__subtitle:before {
    display: block;
    content: "";
    height: 3px;
    width: 100vw;
    background-color: #68b738;
    position: absolute;
    top: 19px;
    right: 100%;
    z-index: -1;
    margin-right: 40px;
  }
  .form__radio + .form__radio_custom span {
    width: 40px;
    height: 40px;
  }
  .form__checkbox + .form__checkbox_custom span {
    width: 40px;
    height: 40px;
  }
  .form__radio:checked + .form__radio_custom span:after {
    width: 18px;
    height: 18px;
  }
  .form__description {
    font-size: 20px;
    line-height: 30px;
    padding: 0px 0px 65px 0px;
  }
  .form label {
    font-size: 20px;
    line-height: 20px;
  }
  .form__input {
    font-size: 20px;
    line-height: 30px;
    height: 52px;
  }
  .form__textarea {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
  }
  .form__button {
    font-size: 20px;
    line-height: 20px;
    height: 52px;
  }
  .form__text {
    font-size: 16px;
    line-height: 16px;
    padding: 0px 0px 0px 30px;
  }
}

@media (min-width: 1300px) {
  .form__container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form__wrapper_button {
    margin-bottom: 100px;
  }
  .form__wrapper_input-two {
    margin: 0px 0px 0px 0px;
    width: 576px;
  }
  .form__wrapper_input-two:first-child {
    padding-right: 80px;
  }
  .form__wrapper_input-two:last-child {
    margin: 0px 0px 0px 0px;
  }
  .form__wrapper_checkbox {
    width: 245px;
    margin: 0px 80px 0px 0px;
  }
  .form__wrapper_checkbox:nth-child(2n) {
    padding: 0px 0px 0px 0px;
  }
  .form__wrapper_checkbox:last-child {
    margin: 0px 0px 0px 0px;
  }
  .form__block_radio {
    width: 50%;
  }
  .form__block_input {
    width: 50%;
    margin-right: 80px;
  }
  .form__block_input-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 65px 0px 65px 0px;
  }
  .form__title {
    padding: 80px 0px 50px 0px;
    margin-left: 0;
  }
  .form__input {
    height: 52px;
  }
  .form__textarea {
    height: 174px;
    padding: 20px 20px 20px 20px;
  }
  .form__button {
    width: 568px;
  }
  .form__text {
    padding: 0px 0px 0px 40px;
  }
}
