@mixin list {
   list-style: none;
   text-decoration: none;
   margin: 0;
   padding: 0;
}

@mixin null {
   margin: 0;
   padding: 0;
}
.featured {
   &:after {
      display: block;
      content: "";
      background-image: url(../img/index/zigzag-mask-desktop.svg);
      background-repeat: repeat no-repeat;
      background-size: 80%;
      height: 11px;
      width: 100%;
   }
   &__title {
      padding: 30px 0px 0px 0px;
      &:after {
         display: flex;
         content: "Товар недели";
         font-size: 17px;
         font-weight: 700;
         line-height: 20px;
         text-transform: uppercase;
         color: #63d1bb;
         margin: 5px 0px 0px 0px;
      }
   }
   &__description {
      @include null();
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      color: #444444;
      padding: 30px 0;
   }

   &__list {
      @include list();
   }

   &__item {
      @include list();
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      color: #444444;
      height: 40px;
      border-bottom: 1px solid #ececec;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__image {
      &_tablet {
         display: none;
      }
      &_mobile {
         margin: 25px 0px 28px 0px;
         width: 100%;
      }
   }

   &__price {
      display: block;
      color: #444444;
      text-align: center;
   }

   &__button {
      margin: 25px 0px 35px 0px;
   }
   &__block {
      width: 100%;
   }
}

@media (min-width: 768px) {
   .featured {
      &__wrapper {
         justify-content: space-between;
      }
      &:after {
         background-size: 80%;
         background-repeat: repeat no-repeat;
         height: 17px;
      }
      &__title {
         padding: 40px 0px 0px 0px;
         position: absolute;
         width: 93%;
         &:after {
            width: 70px;
            text-align: center;
            margin: 0px 0px 0px 0px;
            position: absolute;
            top: 50px;
            right: 60px;
         }
      }
      &__description {
         font-size: 17px;
         line-height: 30px;
         padding: 130px 50px 50px 0;
      }

      &__item {
         margin-right: 50px;
      }

      &__block {
         width: 50%;
         margin-bottom: 50px;
      }

      &__image {
         &_tablet {
            display: block;
            margin-top: 145px;
         }
         &_mobile {
            display: none;
         }
      }

      &__price {
         margin: 55px 50px 30px 0px;
      }

      &__button {
         min-width: 292px;
         width: auto;
         margin: -5px 50px 0px 0px;
      }
   }
}

@media (min-width: 1250px) {
   .featured {
      &:after {
         display: none;
      }
      &__container {
         &:after {
            display: block;
            content: "";
            background-image: url(../img/index/zigzag-mask-desktop.svg);
            background-repeat: repeat no-repeat;
            background-size: 80%;
            height: 23px;
            width: 100%;
         }
      }
      &__title {
         padding: 115px 0px 0px 0px;
         position: absolute;
         width: auto;
         &:after {
            width: 70px;
            text-align: center;
            margin: 0px 0px 0px 0px;
            position: absolute;
            top: 130px;
            right: 0;
            left: -130px;
         }
      }
      &__description {
         padding: 220px 70px 40px 0;
      }

      &__item {
         margin-right: 70px;
      }

      &__block {
         padding-left: 170px;
      }

      &__image {
         &_tablet {
            margin-top: 55px;
         }
      }

      &__price {
         margin: 100px 70px 40px 0px;
      }

      &__button {
         min-width: 292px;
         width: auto;
         margin: 0px 0px 0px 0px;
      }
   }
}
